* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #95c534;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 100%;
  padding: 20px;
  border-bottom: 1px solid #fff;
}

.header-link {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.header>.header-link:nth-child(1),
.header>.header-link:nth-child(3) {
  font-size: 18px;
}

.header-link:nth-child(2) {
  font-size: 26px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 1280px;
  padding: 50px;
  text-align: center;
}

.recipes-title {
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: #fff;
}

.recipes-cards {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  max-width: 100%;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-preview {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.recipe-name {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px 10px 20px 10px;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.recipe-name-emoji {
  margin-top: -5px;
}

.recipe-img {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 750px;
  height: auto;
  border-radius: 20px;
}

.recipe-title {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}

.recipe-desc-title,
.recipe-ingredients-title,
.recipe-steps-title {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.recipe-desc {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

.recipe-ingredients-list,
.recipe-steps-list {
  margin-top: 5px;
}

.recipe-ingredient-item,
.recipe-step-item {
  margin-top: 5px;
  font-size: 20px;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  padding: 20px;
  border-top: 1px solid #fff;
  font-size: 18px;
  color: #fff;
}

.footer-line {
  width: 2px;
  height: 16px;
  background: #fff;
}